<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{ title }}</title>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <style>
</style>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css" />
  </head>
  <body>

<div id="wrapper">
	<div id="sidenav">
      <ul>
       <li><a href="/">home</a></li>
	     <li><a href="{{ url_for('blogposts') }}">blog posts</a></li>
	     <li><a href="{{ url_for('projects') }}">projects</a></li>
	     <li><a href="{{ url_for('talks') }}">talks</a></li>
	     <li><a href="{{ url_for('interviews') }}">interviews</a></li>
	     <li><a href="{{ url_for('readinglist') }}">reading list</a></li>
	    </ul>
	 </div>
 <div id="main">
  <h1>{{ title }}</h1>
  {% block content %}{% endblock %}
 </div>

</div>
  </body>
</html>
