{% extends "base.html" %}
{% block content %}

  <p>You can look through my full booklist on <a href="https://www.goodreads.com/review/list/42102517-pamela-fox?shelf=read&utm_medium=api&utm_source=custom_widget">Goodreads</a> or browse here:</p>

  <script src="https://www.goodreads.com/review/custom_widget/42102517.Pamela's%20bookshelf:%20read?cover_position=left&cover_size=small&num_books=300&order=d&shelf=read&show_author=1&show_cover=1&show_rating=1&show_review=1&show_tags=1&show_title=1&sort=date_read&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1428993699&widget_text_color=000000&widget_title_size=medium&widget_width=full" type="text/javascript" charset="utf-8"></script>


	<div style="clear:both">&nbsp;</div>
{% endblock %}
