{% extends "base.html" %}
{% block content %}
  <p>Here are all the talks I've given over the years.<p>
  <p><em>Please note that many talks are outdated now, since web tech moves fast.</em></p>

  <ul>
  {% for talk in talks %}
  <li style="clear:right">
   {% if talk.thumbnail %}<img class="thumbnail" src="{{ talk.thumbnail }}" alt="Thumbnail image for talk titled {{ talk.title }}">{% endif %}
   <span class="title"><a href="{{ talk.slides }}">{{ talk.title }}</a></span>
   <div class="description">
   {{ talk.description }}
   </div>
   <div class="metadata">
   Given {{ talk.date }} at {{ talk.location }}.
   </div>
   <div class="links">
  {% if talk.code %}<a href="{{ talk.code }}"><span class="emoji-icon" aria-hidden="true">💻</span>View Code</a> {% endif %}
   {% if talk.writeup %}<a href="{{ talk.writeup }}"><span class="emoji-icon" aria-hidden="true">📝</span>Read Write-up</a> {% endif %}
   {% if talk.video %}<a href="{{ talk.video }}"><span class="emoji-icon" aria-hidden="true">🎥</span>Watch Video</a> {% endif %}
   </div>
  {% endfor %}
  </ul>

  <div style="clear:both">&nbsp;</div>
{% endblock %}
