{% extends "base.html" %}
{% block content %}
  <p>Here are all the talks I've given over the years.<p>
  <p><em>Please note that many of the talks are outdated now, since web technology moves fast.</em></p>

  <ul>
  {% for talk in talks %}
  <li style="clear:right">
   <img  class="thumbnail" src="{{ talk.thumbnail }}">
   <span class="title"><a href="{{ talk.slides }}">{{ talk.title }}</a></span>
   <div class="description">
   {{ talk.description }}
   </div>
   <div class="metadata">
   Given {{ talk.date }} at {{ talk.location }}.
   </div>
   <div class="links">
   {% if talk.video %}<a href="{{ talk.video }}"><img src="/static/video_icon.png">Watch Video</a> {% endif %}
   </div>
  {% endfor %}
  </ul>

  <div style="clear:both">&nbsp;</div>
{% endblock %}
