{% extends "base.html" %}
{% block title %}pamela fox{% endblock %}
{% block header %}pamela fox{% endblock %}
{% block content %}
  <div class="divider">who i am:</div> 
  <div class="inner">I'm a graduate from the USC Computer Science Department (BS/MS, with minors in 3d Animation + Linguistics). I'm currently living in Sydney, Australia, working on web projects, <a href="/talks">giving talks</a>, and in my free time, <a href="/readinglist">reading great books</a>. This page should help you locate me on the web. :)
	<br>
    If you want to contact me, just <a href="http://www.google.com/profiles/pamela.fox/contactme">use this form</a>.
  </div> 
  
  <div class="divider">where i do stuff on the web:</div> 
  <div class="inner">
  <a href="http://blog.pamelafox.org">blog</a> - 
  <a href="http://twitter.com/pamelafox">twitter</a> - 
  <a href="http://flickr.com/photos/pamelafox">flickr</a> -
  <a href="http://code.google.com/u/pamela.fox/">google code</a> -
  <a href="http://github.com/pamelafox">github</a>
  </div>
  
  <div class="divider">what i look like now:</div> 
  <div class="inner" id="dailybooth">
    <img src="{{ pic.urls.medium }}">
    <p><a href="http://dailybooth.com/pamelafox">{{ pic.blurb }}</a></p>
  </div>
{% endblock %}