{% extends "base.html" %}
{% block title %}pamela fox's reading list {% endblock %}
{% block header %}pamela fox's reading list {% endblock %}
{% block content %}
  <ul>
  {% for book in books %}
  <li style="clear:right" id="{{ book.title|slugify }}">
  <a href="http://www.amazon.com/gp/product/{{ book.asin }}?tag=amazonsimilar-20"><img src="{{ book.thumbnail }}" style="border: 0px; width:115px; float: right; margin: 5px;"></a>
  <a href="http://www.amazon.com/gp/product/{{ book.asin }}?tag=amazonsimilar-20">{{ book.title }}</a><br>{{ book.author }}<p><b>{{ book.rating }}</b>. {{book.review}}</p>
  {% endfor %}
  </ul>
{% endblock %}