{% extends "base.html" %}
{% block content %}
  <style>
  .description, .links, .metadata {
    margin-top: 3px;
  }

  .links img {
    vertical-align: middle;
  }

  .metadata {
    color: #999;
    font-size: smaller;
  }

  .thumbnail {
    border: 1px solid #ccc;
  }
  </style>

  {% if filter %}
  <p>Here are the talks I've given that match <b>{{ filter }}</b>. <a href="/talks">Click to view all my talks</a>.</p>
  {% else %}
  <p>Here are all the talks I've given over the years. You can also filter by these tags:
	{% for tag in tags %}<a href="/talks?q={{ tag }}">{{tag}}</a>{% if not loop.last %}, {% endif %}{% endfor %}.
  <p>
  <p>Interested in having me speak? <a href="http://blog.pamelafox.org/2015/07/will-i-speak-at-your-conference.html">Please read my current conference policy first.</a>
  </p>
  {% endif %}
  <p><em>Please note that many of the talks are outdated now, since web technology moves fast.</em></p>

  <ul>
  {% for talk in talks %}
  <li style="clear:right">
   <img  class="thumbnail" src="{{ talk.thumbnail }}">
   <span class="title"><a href="{{ talk.slides }}">{{ talk.title }}</a></span>
   <div class="description">
   {{ talk.description }}
   </div>
   <div class="metadata">
   Given {{ talk.date }} at {{ talk.location }}.
   </div>
   <div class="links">
   {% if talk.video %}<a href="{{ talk.video }}"><img src="/static/video_icon.png">Watch Video</a> {% endif %}
   </div>
  {% endfor %}
  </ul>

  <div style="clear:both">&nbsp;</div>
{% endblock %}
