{% extends "base.html" %}
{% block title %}pamela fox{% endblock %}
{% block header %}pamela fox{% endblock %}
{% block content %}
  <div class="divider">who am I?</div>

  <div class="inner">
    <p>I am a human that likes to learn, teach, and create.</p>
    <p>I am currently a Principal Cloud Advocate at Microsoft, focusing on the ways that developers can use Python with Azure services (Web Apps, Functions, etc).
    <p>In my past lives, I've...
    <ul>
     <li>Lectured at UC Berkeley, teaching <a href="https://inst.eecs.berkeley.edu/~cs61a/sp22/">CS61A</a>, <a href="https://cs302.org/sp22/">CS302</a>, and other CS classes.
     <li>Worked for Khan Academy, creating the <a href="https://www.khanacademy.org/computing">computing curriculum</a> and improving <a href="http://github.com/Khan/live-editor">the live coding environment</a>.</li>
     <li>Started up the engineering team at <a href="http://woebot.io">Woebot</a>, a friendly chatbot that teaches Cognitive Behavioral Therapy techniques to help regulate your moods.</li>
     <li>Attended a 4 month <a href="http://nyingmainstitute.com">Tibetan Buddhism retreat</a> to learn techniques for relaxation, meditation, and emotional transformation.</li>
     <li>Founded the <a href="http://www.meetup.com/Girl-Develop-It-San-Francisco/">GirlDevelopIt SF chapter</a> and created much of its <a href="http://teaching-materials.org">CC-licensed curriculum</a>.
     <li>Written oodles of code for <a href="https://www.coursera.org">Coursera</a>, as its 2nd frontend engineer.
     <li>Worked in both Google Mountain View & Google Australia, doing developer relations for the Maps API and Wave APIs.
     <li>Graduated from USC with a bachelors & masters in Computer Science, with minors in 3d Animation and Linguistics.
    </ul>
   </div>

   <div class="divider">want to contact me?</div>
   <div class="inner">
    <p>Please know the following:</p>
    <ul>
      <li>My time is limited since I have a nursing baby, a toddler, and a full-time job. Alas, I  will need to say "No" to most requests of my time that aren't related to my family or work.
      <li>In terms of conferences and meetups, I may be available for local events (bay area) or virtual events. I have more availability during the workday (when I have childcare) than evenings/weekends. I'm the most interested in events that relate to Python or Microsoft Azure, given my current job.
      <li>If you'd like to report a bug or a feature request with the Khan Academy coding platform,
      <a href="https://khanacademy.zendesk.com/hc/en-us/requests/new?ticket_form_id=261028">please use KA ZenDesk</a>.<br>
    </ul>
    <p>If you're still keen on sending me a message after reading that, go for it! My gmail address is exactly what you'd expect it to be 😊.</p>
   </div>

  <div class="divider">where am I on the web?</div>
  <div class="inner">
  <a href="http://twitter.com/pamelafox">twitter</a> -
  <a href="http://medium.com/@pamelafox">medium</a> -
  <a href="http://blog.pamelafox.org">blogger</a> -
  <a href="http://github.com/pamelafox">github</a> -
  <a href="https://www.khanacademy.org/profile/pamela/">khan academy</a> -
  <a href="https://www.instructables.com/member/pamelafox/">instructables</a> -
  <a href="https://www.thingiverse.com/pamelafox/designs">thingiverse</a>
  </div>

{% endblock %}
