{% extends "base.html" %}
{% block content %}

  <p>I love doing side projects, but alas, most of them are now dead/defunct/out of order/in a better place. You can browse through this list to get an idea for the projects I made in the past, and hey, maybe even some of them will still be working.
  <ul>
  {% for project in projects %}
  <li style="clear:right">
   {% if project.thumbnail %}<img  class="thumbnail" src="{{ project.thumbnail }}">{% endif %}
   <span class="title"><a href="{{ project.homepage }}">{{ project.title }}</a></span>
   <div class="description">
   {{ project.description }}
   </div>
   <div class="metadata">
   Last updated around {{ project.date }}.
   </div>
   <div class="links">
   {% if project.source %}<a href="{{ project.source }}"><img src="/static/source_icon.png">Grab Source</a> {% endif %}
   </div>
  {% endfor %}
  </ul>

  <div style="clear:both">&nbsp;</div>
{% endblock %}
